<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon-Pcap</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//builds.handlebarsjs.com.s3.amazonaws.com/handlebars.runtime-v1.1.2.js"></script>
    <script src="/helpers.js"></script>
    <script src="/templates.js"></script>
</head>
<body>

  <div id="wrap">
    <div id="content">
      <div class="page-header">
        <h1>Pokémon-Pcap <small>Instacheck clone for Mac &amp; Linux</small></h1>
      </div>
      {{{body}}}
      <div id="push"></div>
      <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 100" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
    </div>
  </div>
  <div id="footer">
    <div class="panel-footer">
      <table><tr>
        <td><iframe src="http://ghbtns.com/github-btn.html?user=lamperi&repo=pokemon-pcap&type=watch&size=large" height="30" width="100" frameborder="0" scrolling="0" style="width:100px; height: 30px;" allowTransparency="true"></iframe></td><td><iframe src="http://ghbtns.com/github-btn.html?user=lamperi&repo=pokemon-pcap&type=fork&size=large" height="30" width="100" frameborder="0" scrolling="0" style="width:100px; height: 30px;" allowTransparency="true"></iframe></td><td><iframe src="http://ghbtns.com/github-btn.html?user=lamperi&type=follow&size=large" height="30" width="240" frameborder="0" scrolling="0" style="width:240px; height: 30px;" allowTransparency="true"></iframe></td>
        <td class="muted">
	  by <a href="https://github.com/lamperi">Lamperi</a> (Toni Fadjukoff)
        </td>
      </tr></table>
    </div>
  </div>

</body>
</html>
