    <h1>Pokémon Checker for X and Y</h1>
    <div class="row">
      <div id="left-pokemon" class="col-md-6">
        {{>pokemon left_pokemon }}
      </div>
      <div id="right-pokemon" class="col-md-6">
        {{>pokemon right_pokemon }}
      </div>
    </div>
    <script src="//builds.handlebarsjs.com.s3.amazonaws.com/handlebars.runtime-v1.1.2.js"></script>
    <script src="/helpers.js"></script>
    <script src="/templates.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/config.js"></script>
    <script src="/pokemon.js"></script>
