    <div class="connection-status">
        <span id="connected" class="label label-success">Connected</span>
	<span id="disconnected" class="label label-warning">Disconnected</span>
    </div>
    <div class="row">
      <div id="left-pokemon" class="col-md-6">
        {{#if left_pokemon }}
        {{>pokemon left_pokemon }}
        {{else}}
        Oops, no pokemon captured yet
        {{/if}}
      </div>
      <div id="right-pokemon" class="col-md-6">
        {{#if right_pokemon }}
        {{>pokemon right_pokemon }}
        {{else}}
        Oops, no pokemon captured yet
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <select id="left-list">
        {{#each left_pokemon_list }}
        <option value="{{json this}}">{{>pokemonTitle this}}</option>
        {{/each}}
        </select>
        <button id="left-export">Export as text</button>
      </div>
      <div class="col-md-6">
        <select id="right-list">
        {{#each right_pokemon_list }}
        <option value="{{json this}}">{{>pokemonTitle this}}</option>
        {{/each}}
        </select>
        <button id="right-export">Export as text</button>
      </div>
    </div>
    <div class="modal fade" id="export-modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <textarea readonly="true" style="width: 100%"></textarea> 
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/config.js"></script>
    <script src="/pokemon.js"></script>
