    <h1>Pokémon Checker for X and Y</h1>
    <div class="connection-status">
        <span id="connected" class="label label-success">Connected</span>
	<span id="disconnected" class="label label-warning">Disconnected</span>
    </div>
    <div class="row">
      <div id="left-pokemon" class="col-md-6">
        {{#if left_pokemon }}
        {{>pokemon left_pokemon }}
        {{else}}
        Oops, no pokemon captured yet
        {{/if}}
      </div>
      <div id="right-pokemon" class="col-md-6">
        {{#if right_pokemon }}
        {{>pokemon right_pokemon }}
        {{else}}
        Oops, no pokemon captured yet
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <select id="left-list">
        {{#each left_pokemon_list }}
        <option value="{{json this}}">{{>pokemonTitle this}}</option>
        {{/each}}
        </select>
      </div>
      <div class="col-md-6">
        <select id="right-list">
        {{#each right_pokemon_list }}
        <option value="{{json this}}">{{>pokemonTitle this}}</option>
        {{/each}}
        </select>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/config.js"></script>
    <script src="/pokemon.js"></script>
