span.title {
	color: blue;
	display: block;
}

span.value {
	color: black;
	display: ;
}
span.value:after {
	color: red;
	content: '<3';
}

select {
	width: 100%
}

.moves ul {
	padding-left: 0;
}
.moves li {
	list-style: none;
}

.ivs.evs {
}

#connected {
	display: none
}
#disconnected {
	display: inline-block
}

/* bootstrap sticky-footer */
html,body {
	height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* 100 comes from header 40px plus footer 60px */
	margin: 0 auto -100px;
}
#push,
#footer {
	height: 60px;
}
#footer {
	background-color: #cdcdcd;
}
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
